%article#servicesW
  %header= t("servicesW.title")
  %ul.arrow-blue
    %li= t("servicesW.li_01")
    %li= t("servicesW.li_02")
    %li= t("servicesW.li_03")
    %li= t("servicesW.li_04")
    %li= t("servicesW.li_05")
    %li= t("servicesW.li_06")
  %q= t("servicesW.q_01")
